<html>
<head>



<title>NHL POOL</title>
</head>

<body>
    <div class="pool-menu">
        NHL Pool!

        <a href="{% url 'players' %}">Players</a>
        <a href="{% url 'teams' %}">Teams</a>
        <a href="{% url 'games' %}">Games</a>
        <a href="{% url 'season' %}">Season</a>
    </div>
    <div class="pool-body">
        {% block content %}
        {% endblock %}
    </div>
    <div id="app">
    
        <h3>Mini Vue test: my name is[[firstName]]=</h3>
    </div>
    {% load static %}
    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script src="{% static 'polls/app.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>

    function setSeasonMode(mode){
        $("#jsSeasonModeContainer").attr("season-grid-mode",mode)
    }

    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}">
</body>
</html>