{% extends 'polls/base.html' %}

{% block content %}
Games:

{% for g in games %}
    <div>
        <a href="{% 'editgame' g.id %}">{{g.id}}</a>
        :
        {{g.team1}}
        vs.
        {{g.team2}}
        . Winner: {{g.winner}}
    </div>
{% endfor %}


    <br>
    <hr>
    <br>

    Create game:
    <form method="post" action="#">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" name="save">Create New</button>
    </form>
    {% if msg != 'OK' %}
        {{msg}}
    {% endif %}

    <div class="pool-info">
This form has some validation. All fields need to be picked, team cannot play itself, winner must be one of the teams.
</div>
{% endblock %}
