{% extends 'polls/base.html' %}

{% block content %}

There was a game: 

{{ team1_name }} vs {{ team2_name }}, and the winner was {{ winner_name }}

<br><br><br>
    Edit game:
    <form method="post" action="#">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" name="save">Update</button>
    </form>

<br><br>
<div class="pool-info">
Note that this form doesn't have the same validation as the form that adds a new game.
Need to learn the Django way to do this kind of abstraction.
</div>
{% endblock %}