{% extends 'polls/base.html' %}

{% block content %}
Player: {{p.name}} 
<br>
<br>
{% if p.pick_count == 0 %}
No picks yet
{% endif %}
{% if p.pick_count > 0 %}
    Picks ({{p.pick_count}}):
    <br>
    {% for p in picks %}
        <div>
            <a href="/deletepick{{p.id}}">X</a>
            {{p.team}} 
            <!-- ({{p.team.win_count}} wins) -->
            
        </div>
    {% endfor %}
    <br>
    Games where one of these picks won ({{p.win_count}}): <br>
    {% for w in picked_wins %}
        <div>{{w.id}}:
            {{w.team1}}
            vs.
            {{w.team2}}. Winner: {{w.winner}}
        </div>
    {% endfor %}
{% endif %}
<hr>
<br>

Add a pick:

    <form method="post" action="#">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" name="save">Add Pick</button>
    </form>

    <div class="pool-info">
        Already picked teams don't appear in list. <br>
        Click x in list at top to delete a pick.
    </div>
{% endblock %} 