{% extends 'polls/base.html' %}

{% block content %}

<div class="team-row">
    <div class="team-col">Player</div>
    <div class="team-col">Picks</div>
    <div class="team-col">Points</div>
</div>
{% for p in players %}
    <div class="team-row">
        <div class="team-col">
            <a href="{% url 'player' p.id %}">
            {{p.id}}:
            {{p.name}}</a>
        </div>
        <div class="team-col">{{p.teamCount}} </div>
        <div class="team-col">{{p.win_count}} </div>

    </div>
{% endfor %}
<br>
<div class="pool-info">
Players get a point for every game won by one of their picks.
Click a player to manage their picks.
</div>
<hr>
<br>
Create player:
<form method="post" action="#">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" name="save">Create New Player</button>
</form>
{% endblock %}
