{% extends 'polls/base.html' %}
{% load app_filters %}

{% block content %}
Pure Django Version:
<div season-grid-mode="{{gridMode}}">
    <a href="/season/games" mode-link="games">Games Played</a>
    <a href="/season/home" mode-link="home">Home Games</a>
    <a href="/season/wins" mode-link="wins">Games Won</a>
</div>
<br>
<div class="team-row">
    <div class="team-col">
        Home team &gt;
    </div>
    {% for gridRow in grid %}
        <div class="team-col">
            {{gridRow.name}}
        </div>
    {% endfor %}
</div>
{% for gridRow in grid %}
<div class="team-row">
    <div class="team-col">
        vs. {{gridRow.name}}
    </div>
    {% for gridCell in gridRow.row %}
    <div class="team-col">
        {% comment "These are the same, thanks to the added hash filter!" %}
        {{gridCell.value}} - value is slected in view
        {{gridCell|hash:gridMode}} - dictionary lookup i.e. gridCell[gridMode]
        {% endcomment %}

        {{gridCell|hash:gridMode}}
    </div>
    {% endfor %}
</div>
{% endfor %}
<div id="jsSeasonModeContainer" season-grid-mode="games">
<div>
    <hr style="margin:40px 0px;">
    Django and JS Version:
    <br>
    <a href="javascript:setSeasonMode('games')" mode-link="games">Games Played</a>
    <a href="javascript:setSeasonMode('home')" mode-link="home">Home Games</a>
    <a href="javascript:setSeasonMode('wins')" mode-link="wins">Games Won</a>
    <br><br>
</div>

<div class="team-row">
    <div class="team-col">Home team &gt;</div>
    {% for gridRow in grid %}
        <div class="team-col">
            {{gridRow.name}}
        </div>
    {% endfor %}
</div>
{% for gridRow in grid %}
<div class="team-row">
    <div class="team-col">
       vs. {{gridRow.name}}
    </div>
    {% for gridCell in gridRow.row %}
    <div class="team-col">
        <div class="grid-cell grid-mode--game">
            {{gridCell.games}}
        </div>
        <div class="grid-cell grid-mode--home">
            {{gridCell.home}}
        </div>
        <div class="grid-cell grid-mode--wins">
            {{gridCell.wins}}
        </div>        
    </div>
    {% endfor %}
</div>
{% endfor %}
</div>


<div>
    <hr style="margin:40px 0px;">
    TODO - Django API and Vue Version:
</div>
{% endblock %}