{% extends 'polls/base.html' %}
{% load static %}

{% block content %}
Teams:

{% for t in teams %}
    <div>
        {{t.id}}: 
        <img class="team-thumb" src="{% static t.imageFileName %}" alt="My image"/>
        {{t.name}}

        {% include "../polls/team_summary.html" with team=t %}
    </div>
{% endfor %}
<br>
<hr>
<br>
Create team:
<form method="post" action="/teams">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" name="save">Create New Team</button>
</form>
{% endblock %}
